<div style="margin-bottom:10px;">
    <a class="metro-green" style="height:50px;width:117px;float:left;" href="/feed{% if tag %}/{{ tag|tag }}{% endif %}" target=_blank>
        <img src="/images/rss_metro_50.png" alt="订阅RSS" title="订阅RSS" border=0 />
        <span style="position: relative;left:0px;top: -25px;" class="metro_flow">订阅RSS</span>
    </a>
    <a class="metro-green" style="height:50px;width:117px;float:right;" href="https://github.com/xiaxiaocao/gae-blog" target=_blank>
        <img src="/images/xml_50.png" alt="Source Code at Github" title="Source Code at Github" border=0 />
        <span style="position: relative; left:1px;top: -18px;" class="metro_flow">获取源码</span>
    </a>
    <div style="clear:both;"></div>
</div>