div.albumheader{
}
div.albumheader a{
    color : blue;
}
div#albums{
    margin:10px 0 0 auto;
    text-align:center;
}

div#albums img{
    background:white none repeat scroll 0% 0%;
    border:1px solid #CCCCCC;
    padding:6px;
}

div.album_thumbnail{
    width:180px;
    height:202px;
    display:table;
    float:left;
}

div.album_thumbnail_img{
    width:180px;
    height:180px;
    display:table;
    float:left;
    padding-left:5px;
    padding-right:5px;
}

div.rg-gallery {
    margin-top:10px;
}

ul.thumbs {
    clear: both;
    margin: 0;
    padding: 0;
}
ul.thumbs li {
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.thumbs li a {
    padding: 2px;
    display: block;
    border: 1px solid #ccc;
}
ul.thumbs li.selected a {
    background: #88f;
}
ul.thumbs a:focus {
    outline: none;
}
ul.thumbs img {
    border: none;
    display: block;
}
div.pagination {
    clear: both;
}
.es-carousel-wrapper{
	background: white;
	padding:10px 27px;
	border-radius: 10px;
	position:relative;
	box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
	position:relative;
	margin-bottom:20px;
}
.es-carousel{
	overflow:hidden;
	background:white;
}
.es-carousel ul{
    margin:0;
    padding:0;
	display:none;
}
.es-carousel ul li{
	height:100%;
	float:left;
	display:block;
    border: 1px solid #aaaaaa;
    background-color: #dedede;
}
.es-carousel ul li a{
    height: 72px;
    width: 72px;
	display:table-cell;
    text-align: center;
    vertical-align: middle;
    border: none !important;
    border-collapse: collapse;
    padding: 0;
	opacity:0.8;
}
.es-carousel ul li.selected {
    background-color: #9e9e9e;
    opacity:1.0;
}
.es-nav span{
	position:absolute;
	top:50%;
	left:8px;
	background:transparent url(/images/nav_thumbs.png) no-repeat top left;
	width:14px;
	height:26px;
	margin-top:-13px;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.8;
}
.es-nav span.es-nav-next{
	right:8px;
	left:auto;
	background-position:top right;
}
.es-nav span:hover{
	opacity:1.0;
}

.rg-image-wrapper {
	position:relative;
	padding:1px 30px;
	background-color: #999;
	border-radius: 10px;
	min-height:200px;
}
.rg-image{
	position:relative;
	text-align:center;
	line-height:0px;
}
.rg-image img{
	max-height:100%;
	max-width:100%;
}
.rg-image-nav a{
	position:absolute;
	top:0px;
	left:0px;
	background:#000 url(/images/nav.png) no-repeat -20% 50%;
	width:28px;
	height:100%;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.3;
	outline:none;
	border-radius: 10px 0px 0px 10px;
}
.rg-image-nav a.rg-image-nav-next{
	right:0px;
	left:auto;
	background-position:115% 50%;
	border-radius: 0px 10px 10px 0px;
}
.rg-image-nav a:hover{
	opacity:0.8;
}
.rg-caption {
	text-align:center;
	margin-top:15px;
	position:relative;
}
.rg-caption p {
	font-size:11px;
	letter-spacing:2px;
	line-height:16px;
    color:white;
    font-size: 16px;
	padding:0 15px;
}
.rg-view {
	height:30px;
}
.rg-view a {
	display:block;
	float:right;
	width:16px;
	height:16px;
	margin-right:3px;
	background:#6f6f6f url(/images/views.png) no-repeat top left;
	border:3px solid #6f6f6f;
	opacity:0.8;
}
.rg-view a:hover {
	opacity:1.0;
}
.rg-view a.rg-view-full {
	background-position:0px 0px;
}
.rg-view a.rg-view-selected {
	background-color:#464646;
	border-color:#464646;
}
.rg-view a.rg-view-thumbs {
	background-position:0px -16px;
}
div.rg-loading {
	width:80px;
	height:80px;
	position:absolute;
	top:50%;
	left:50%;
	background:#000 url(/images/ajax-loader.gif) no-repeat center center;
	margin:-40px 0px 0px -40px;
	z-index:100;
	border-radius: 10px;
	opacity:0.7;
}